### IntelliJ IDE ###
.idea/
*.iml
*.iws

### Eclipse IDE ###
.classpath
.project
.settings/

### Netbeans
build/
nbbuild/
nbdist/
.nb-gradle/

### Maven Specific
.mvn/

### Project Specific ###
/target
/allure-results/*
/allure-reports/*
.idea
/*.iml
!.gitkeep
!allure-results/categories.json
!allure-results/environment.properties