### IntelliJ IDE ###
.idea/
*.iml
*.iws

### Eclipse IDE ###
.classpath
.project
.settings/

### Netbeans
build/
nbbuild/
nbdist/
.nb-gradle/

### Maven Specific
.mvn/

### Project Specific ###
/target
.idea
/*.iml
!.gitkeep